* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  overflow: hidden;
}

.hero {
  height: 100%;
  width: 100%;
  background-color: #e1e1e1;
  color: #2c2b31;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

.text {
  display: flex;
  height: calc(100vh - 35px);
  width: 80%;
  align-items: center;
  margin: 0 auto;
}

.hero-txt {
  width: 600px;

  transition: opacity 0.3s ease-in-out;
}

.hero-txt h1 {
  font-size: clamp(40px, 7vw, 120px);
}

.profile-ic {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(50%, 0%);
  transition: opacity 0.3s ease-in-out;
}

.pic-bg {
  background: linear-gradient(to bottom, #ccc8aa, #27262b);
  border-radius: 50%;
  width: 400px;
  height: 380px;
  position: relative;
  border: 10px solid white;
}

.pic-cont {
  height: 450px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  bottom: 2px;
  right: 50%;
  transform: translate(50%);
}

.pic-cont img {
  width: 450px;
  transform: scaleX(-1);
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;
}

ul {
  width: 100vw;
  display: flex;
  list-style: none;
}
li {
  flex: 1;
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: "Poppins";
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.liOne {
  background-color: red;
}

.liTwo {
  background-color: green;
}

.liThree {
  background-color: blue;
}

.liFour {
  background-color: yellow;
}

.nav {
  display: flex;
  position: sticky;
  top: 0;
}

.section-cont {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

/* ZERO */
section {
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
  transition: opacity 0.3s ease-in-out;
  margin-top: 100px;
}

.sectionZero p {
  margin-block: 25px;
  font-size: 70px;
}

/* ONE */
.sectionOne p {
  margin-block: 25px;
  font-size: 25px;
  text-align: justify;
}

.profession-img {
  text-align: center;
}

.profession-img img {
  width: max(30%, 250px);
  margin: 25px;
  border-radius: 50px;
}

/* TWO */
.sectionTwo {
  display: flex;
  align-items: center;
}

.sectionTwo p {
  margin-block: 25px;
  font-size: 25px;
  text-align: justify;
  flex: 1;
}

.single-img {
  flex: 1;
  text-align: center;
}

.single-img img {
  width: min(80vh, 500px);
  margin-block: 25px;
  border-radius: 50px;
}

/* THREE */
.sectionThree {
  display: flex;
  align-items: center;
}

.sectionThree div {
  flex: 1;
}

.sectionThree p {
  margin-block: 25px;
  font-size: 25px;
  text-align: justify;
}

.sectionThree .icon {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sectionThree .icon img {
  height: clamp(30px, 5vw, 80px);
  margin: 5px;
}

/* FOUR */
.sectionFour {
  display: flex;
  align-items: center;
}

.sectionFour p {
  margin-block: 25px;
  font-size: 25px;
  text-align: justify;
  flex: 1;
}

/* FIVE */
.sectionFive {
  display: flex;
  align-items: center;
}

.sectionFive div {
  flex: 1;
}

.sectionFive p {
  margin-block: 25px;
  font-size: 25px;
  text-align: justify;
  flex: 1;
}

.sectionFive .icon {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.sectionFive .icon img {
  height: clamp(30px, 5vw, 80px);
  margin: 5px;
}

/* SIX */

.sectionSix {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100%;
}

.sectionSix h1 {
  font-size: clamp(25px, 5vw, 30px);
  margin-bottom: 20px;
}

.test-img {
  text-align: center;
  position: relative;
}

.test-img img {
  width: 100%;
  box-shadow: 0 0 10px #b1afaf;
  margin-block: 10px;
}

.test-img a {
  opacity: 0;
  font-size: 50px;
  color: white;
  padding-block: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, transparent, #c67101, transparent);
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}

.test-img a:hover {
  opacity: 1;
}

.cofi-img {
  text-align: center;
  position: relative;
}

.cofi-img img {
  width: 100%;
}

.cofi-img a {
  opacity: 0;
  content: "Visit Site";
  font-size: 50px;
  color: white;
  padding-block: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    to bottom,
    transparent,
    #1c1a19b6,
    #1c1a19,
    #1c1a19b6,
    transparent
  );
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}

.cofi-img a:hover {
  opacity: 1;
}

.sectionSix p {
  margin-block: 25px;
  text-align: justify;
  width: 80%;
}

/* SEVEN */
.sectionSeven {
  display: flex;
  align-items: center;
}

.sectionSeven div {
  flex: 1;
}

.sectionSeven p {
  margin-block: 25px;
  font-size: 25px;
  text-align: justify;
  flex: 1;
}

.sectionSeven .icon {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.sectionSeven .icon img {
  height: clamp(30px, 5vw, 80px);
  margin: 5px;
}

/* EIGHT */
.sectionEight {
  display: flex;
  align-items: center;
}

.sectionEight p {
  margin-block: 25px;
  font-size: 25px;
  text-align: justify;
  flex: 1;
}

/* NINE */
.sectionNine {
  display: flex;
  align-items: center;
  height: 45vh;
}

.sectionNine p {
  font-size: 25px;
  text-align: center;
  flex: 1;
}

.toLeft {
  animation: toLeft 1s ease-in-out forwards;
}

@keyframes toLeft {
  0% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0%);
  }
}

.toRight {
  animation: toRight 1s ease-in-out forwards;
}

@keyframes toRight {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0%);
  }
}

.showLi {
  opacity: 1;
  pointer-events: visible;
  cursor: pointer;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

footer {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c1a19;
  color: white;
}

footer p {
  margin-top: 15px;
}

footer p:nth-child(even) {
  color: #908c8c;
}

@media only screen and (max-width: 1000px) {
  .section-cont {
    width: 95%;
  }

  .text {
    align-items: flex-start;
  }
  .hero-txt {
    width: 90%;
    margin: 0 auto;
  }

  .hero-txt h1 {
    text-align: center;
    margin-top: 80px;
  }

  .profile-pic {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
  }

  .pic-bg {
    width: 250px;
    height: 225px;
  }

  .pic-cont {
    height: 280px;
  }

  .pic-cont img {
    width: 280px;
  }

  .profession-img img {
    margin: 25px 0;
  }

  .single-img img {
    border-radius: 0px;
  }

  ul {
    flex-direction: column;
  }

  .sectionZero p {
    font-size: clamp(25px, 5vw, 40px);
    text-align: center;
  }

  .sectionOne p {
    font-size: clamp(16px, 5vw, 25px);
  }

  .sectionTwo p {
    font-size: clamp(16px, 5vw, 25px);
  }

  .sectionThree p {
    font-size: clamp(16px, 5vw, 25px);
  }

  .sectionFour p {
    font-size: clamp(16px, 5vw, 25px);
  }

  .sectionFive p {
    font-size: clamp(16px, 5vw, 25px);
  }

  .sectionSix p {
    font-size: clamp(16px, 5vw, 25px);
  }

  .sectionSeven p {
    font-size: clamp(16px, 5vw, 25px);
  }

  .sectionEight p {
    font-size: clamp(16px, 5vw, 25px);
  }

  .test-img a,
  .cofi-img a {
    font-size: clamp(16px, 5vw, 25px);
  }

  .sectionOne,
  .sectionThree,
  .sectionFive,
  .sectionSeven {
    display: flex;
    flex-direction: column-reverse;
  }

  .sectionTwo,
  .sectionFour,
  .sectionSix,
  .sectionEight {
    display: flex;
    flex-direction: column;
  }

  .sectionSix {
    width: 100%;
  }
}
